<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center;">Create a new campgroud</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <label for="campgroundName">Name:</label>
                    <input class="form-control" type="text" placeholder="campground name" name="campgroundName">
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input class="form-control" type="number" placeholder="price" name="price" min="0.01" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="campgroundImage">Image:</label>
                    <input class="form-control" type="text" placeholder="image URL" name="campgroundImage">
                </div>
                <div class="form-group">
                    <label for="campgroundLocation">Location:</label>
                    <input class="form-control" type="text" placeholder="Campground Location" name="campgroundLocation">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input class="form-control" type="text" placeholder="Description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>    
    </div>
    
<% include ../partials/footer %>
